.kanyemain {
  width: 1000px;
  height: 860px;
  margin: 25px auto;
  border: solid 4px black;
  padding: 10px;
  box-sizing: border-box;
}
body {
  background-image: url(/pictures/kanye1.jpg);
  background-size: auto;
  background-repeat: no-repeat;
  display: flex;
}
.firstkanye {
  width: 300px; 
  height: 100px;
  border: solid 2px black;
  border-radius: 10px;
  color: black;
  background-color: cornsilk;
  font-size: large;
}
p {
    margin-left: 5px;
    font-family: 'Times New Roman', Times, serif;
    margin-right: 5px;
}